apiVersion: v1
kind: Service
metadata:
  name: tenants-service
  labels:
    app: tenants-service
spec:
  type: ClusterIP
  ports:
  - port: 80
    targetPort: 8000
    protocol: TCP
    name: http
  selector:
    app: tenants-service